.container
  #order-form.modal.hide.fade{:tabindex => '-1', :role => 'dialog', :'aria-labelledby' => 'order-formLabel', :'aria-hidden' => 'true'}
    .modal-header
      %h3.order-formLabel Place an order
      %button{:class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x 
    .modal-body
      =simple_form_for @order, :html => {:method => :post}, :url => url_for(:action => 'create', :controller => 'orders') do |f|
        = f.association :restaurant
        #items-list
          .accordion
            - item_list = {}
            - if @order.restaurant
              - @order.restaurant.categories.each do |category|
                - item_list[category[:name]] = category.items
            - item_list.each_key do |category|
              -unless item_list[category].empty?
                %h3
                  %a{:href => '#'}= category
                .tab
                  -item_list[category].each do |item|
                    .control-group.integer.order_items_quantities
                      .controls
                        .row-fluid
                          .span6
                            = "#{item.name} $#{item.cost}"
                          .span6
                            %input{:type => 'number', :id => "item_#{item.id}_quantity", :class => "numeric integer item_quantities", :name => "order[item_ids][#{item.id}]", :value => "#{(@items.select{|i| i[:id] == item.id}).length || 0}", :'data-cost' => "#{item.cost}"} 
        %br
        = f.input :description, as: :text, :input_html => { :cols => 25, :rows => 5}, label: 'Special Instructions'
        .row-fluid
          .span3=f.input :cost, :class => "input-small", :readonly => true
          .span1 +
          .span3= f.input :tip, :class => "input-small" 
          .span1= '='
          .span3= f.input :total, :class => "input-small", :readonly => true

        #house.row-fluid
          .span8= f.input :house_dorm, collection: HOUSES, label: 'House/Hall'
          .span4= f.input :room
        #address
          = f.input :address
          .row-fluid
            .span4= f.input :city
            .span4= f.input :state
            .span4= f.input :zip
        = link_to_function "Toggle Location Type", "$('#house').toggle();$('#address').toggle()"
        <br><br>
        = f.input :phone_number
        .row-fluid= f.input :expiration, as: :time, :ampm => true, label: "Time this offer expires"
        = f.hidden_field :payment_type, value: 'cash'
        .modal-footer
          %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => true} Close
          = f.submit value: 'Place Order', class: "btn btn-primary"
  .home_rest
    %h1=link_to "Hungry?", '#order-form', :role => 'button', :class => 'btn btn-xlarge btn-block btn-primary', :'data-toggle' => 'modal'
    %h1=link_to "No, but I'll make deliveries", orders_path, class: "btn btn-xlarge btn-block btn-success"

