<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class='form-div'>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <div class='row-fluid'>
      <div class="span6">
        <%= f.input :first_name, :required => true %>
      </div>
      <div class="span6">
        <%= f.input :last_name, :required => true %>
      </div>
    </div>
    <%= f.input :phone_number, :required => true %>
    <div class='row-fluid'>
      <div class='span8'>
        <%= f.input :house_dorm %>
      </div> 
      <div class='span4'>
        <%= f.input :room %>
      </div>
    </div>
    <%= f.input :address %>
    <div class='row-fluid'>
      <div class='span4'>
        <%= f.input :city %>
      </div> 
      <div class='span4'>
        <%= f.input :state %>
      </div>
      <div class='span4'>
        <%= f.input :zipcode %>
      </div> 
    </div> 
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
</div>