<h2>Sign up!!</h2>

<div class='form-div'>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :label => "Harvard email address", :required => true, :autofocus => true %>
      <div class='row-fluid'>
        <div class="span6">
          <%= f.input :first_name, :required => true %>
        </div>
        <div class="span6">
          <%= f.input :last_name, :required => true %>
        </div>
      </div>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
      <%= f.input :phone_number, :required => true %>
      <br>
      <%= link_to_function "Hide/Show Optional Fields", "$('#optionals').toggle()" %>
      <br><hr> 
      <div id='optionals'>
        <div class='row-fluid'>
          <div class='span8'>
            <%= f.input :house_dorm %>
          </div> 
          <div class='span4'>
            <%= f.input :room %>
          </div>
        </div>
        <%= f.input :address %>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.input :city %>
          </div> 
          <div class='span4'>
            <%= f.input :state %>
          </div>
          <div class='span4'>
            <%= f.input :zipcode %>
          </div> 
        </div> 
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div> 
