<h2>Sign up</h2>

<div class='form-div'>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :first_name, :required => true %>
      <%= f.input :last_name, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
      <%= f.input :phone_number, :required => true %>
      <br>
      <%= link_to_function "Hide/Show Optional Fields", "$('#optionals').toggle()" %>
      <br><hr> 
      <div id='optionals'>
        <%= f.input :house_dorm , :label => 'House/Hall' %>
        <%= f.input :room %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zipcode %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div> 
