-unless @orders.length == 0
	%table{:id => 'orders', :class => 'display'}
		%thead
			%tr
				%th Details
				%th.tb-r Restaurant
				%th Arrow
				%th.tb-l Destination
				%th Cost
				%th Cost Data
				%th Plus
				%th Tip
				%th Tip Data
				%th Rat.
				%th Exp
				%th Exp Data
				%th User
		%tbody
			-@orders.each do |order|
				.modal.hide.fade{:tabindex => '-1', :id=> "order_#{order.id}_details", :role => 'dialog', :'aria-labelledby' => "order-#{order.id}Label", :'aria-hidden' => 'true'}
					.modal-header
						%h3{:id => "order-#{order.id}Label"} Order Details
						%button{:class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x 
					.modal-body
						%ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
							%li
								%a{:'data-toggle' => 'tab', :href => "#basic-info-#{order.id}"}General
							%li
								%a{:'data-toggle' => 'tab', :href => "#item-info-#{order.id}"}Items
							%li
								%a{:'data-toggle' => 'tab', :href => "#cost-info-#{order.id}"}Cost
						.tab-content
							.active.tab-pane{:id => "basic-info-#{order.id}"}
								%h5 Pick-up from: #{order.restaurant.name}
								%h5 Deliver to: #{order.house_dorm ? order.house_dorm.to_s + ' ' + order.room.to_s : order.address.to_s}
								- phone = order.user.phone_number
								%h5= "Phone Number: (#{phone[0,3]}) #{phone[3,3]}-#{phone[6,4]}"
								%h5= "User Rating: #{order.user.rating}/5 stars (#{order.user.deliveries.to_i} reviews)"
							.tab-pane{:id => "item-info-#{order.id}"}
								-order.choices.each do |choice| 
									- i = choice.item
									%h6="#{i.name.to_s}: $#{i.cost.to_s}#{', ' + choice.description if !choice.description.blank?}"
							.tab-pane{:id => "cost-info-#{order.id}"}
								%h5 Cost: $#{order.cost}
								%h5 Tip: $#{order.tip}
								%h5 Total: $#{order.total}
					.modal-footer
						%button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => true} Close
						=link_to 'Claim Order', claim_order_path(order.id), :class => "btn btn-primary"
				%tr.order-row{:id => "table_row_#{order.id}"}
					%td.toolT{:title => 'Claim Order'}=link_to "Details", "#order_#{order.id}_details", :role => 'button', :class => 'btn btn-block btn-success', :'data-toggle' => 'modal' 
					%td.tb-r.toolT{:title => 'Origin'}=order.restaurant.name
					%td
						%i.icon-arrow-right
					%td.tb-l.toolT{:title => 'Destination'}=(order.house_dorm || order.address)
					%td.tb-r.toolT{:title => 'Order Cost'}='$' + order.cost.to_s
					%td=order.cost
					%td
						%i.icon-plus
					%td.tb-l.toolT{:title => 'Offered Tip'}='$' + order.tip.to_s + 'tip'
					%td=order.tip
					%td.toolT{:title => "User's Rating"}
						-Random.rand(5).times do 
							%i.icon-star
					%td.toolT{:title => "Order Expiration:"}= (order.updated_at + 1.hour).strftime("%l:%M %p")
					%td=order.updated_at
					%td
						= " #{'Current Orders'.hash.to_s}" if (order.updated_at + 1.hour) > Time.now
						= " #{'Unclaimed Orders'.hash.to_s}" if !order.claimer
						= " #{'My Orders'.hash.to_s}" if current_user == order.user
						= " #{'My Deliveries'.hash.to_s}" if order.claimer == current_user
-else 
	%h2 No orders to display... #{link_to('Order food', root_path + '#order-form')}
