-provide(:title, "Orders")
.left-bar
	.btn-group.btn-group-vertical{:'data-toggle' => 'buttons-checkbox'}
		%h5 Show Only:
		%button.btn.btn-inverse.filter-nav{:type => 'button', :class => "#{@preset == 'index' ? 'active' : ''}", :value => 'Unclaimed Orders'.hash.to_s} Unclaimed Orders
		%button.btn.btn-success.filter-nav{:type => 'button', :class => "#{@preset == 'placed' ? 'active' : ''}", :value => 'My Orders'.hash.to_s} My Orders
		%button.btn.btn-inverse.filter-nav{:type => 'button', :class => "#{@preset == 'claimed' ? 'active' : ''}", :value => 'My Deliveries'.hash.to_s} My Deliveries
.right-bar
	.search.clearfix
		%h5 Search Orders: 
		%input{:type => 'text', :class => 'input-medium search-query', :id => "datatable-search"}
	.sort.clearfix
		%h5 Sort By:
		.row-fluid
			.span8
				%select.header-select#sort_by
					%option{:value => '1'}Restaurant
					%option{:value => '3'}Destination
					%option{:value => '5'}Cost
					%option{:value => '8'}Tip
					%option{:value => '9'}User Rating
					%option{:value => '11'}Expiration
			.span4
				%select.header-select#asc-desc
					%option{:value => 'asc'}Asc
					%option{:value => 'desc'}Desc

-unless @orders.length == 0
	%table{:id => 'orders', :class => 'display'}
		%thead
			%tr
				%th Details
				%th.tb-r.lazy-header Restaurant
				%th.lazy-header 
				%th.tb-l.lazy-header Destination
				%th.lazy-header Cost
				%th.lazy-header Cost Data
				%th.lazy-header 
				%th.lazy-header Tip
				%th.lazy-header Tip Data
				%th.lazy-header Rat.
				%th.lazy-header Exp
				%th.lazy-header Exp Data
				%th.lazy-header User Info
		%tbody
			-@orders.each do |order|
				.modal.hide.fade{:tabindex => '-1', :id=> "order_#{order.id}_details", :role => 'dialog', :'aria-labelledby' => "order-#{order.id}Label", :'aria-hidden' => 'true'}
					.modal-header
						%h3{:id => "order-#{order.id}Label"} Order Details
						%button{:class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x 
					.modal-body
						%ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
							%li
								%a{:'data-toggle' => 'tab', :href => "#basic-info-#{order.id}"}General
							%li
								%a{:'data-toggle' => 'tab', :href => "#item-info-#{order.id}"}Items
							%li
								%a{:'data-toggle' => 'tab', :href => "#cost-info-#{order.id}"}Cost
						.tab-content
							.active.tab-pane{:id => "basic-info-#{order.id}"}
								%h5 Pick-up from: #{order.restaurant.name}
								%h5 Deliver to: #{order.house_dorm ? order.house_dorm.to_s + ' ' + order.room.to_s : order.address.to_s}
								- phone = order.user.phone_number
								%h5= "Phone Number: (#{phone[0,3]}) #{phone[3,3]}-#{phone[6,4]}"
								%h5= "User Rating: #{order.user.rating}/5 stars (#{order.user.deliveries.to_i} reviews)"
							.tab-pane{:id => "item-info-#{order.id}"}
								-order.choices.each do |choice| 
									- i = choice.item
									%h6="#{i.name.to_s}: $#{i.cost.to_s}#{', ' + choice.description if !choice.description.blank?}"
							.tab-pane{:id => "cost-info-#{order.id}"}
								%h5 Cost: $#{order.cost}
								%h5 Tip: $#{order.tip}
								%h5 Total: $#{order.total}
					.modal-footer
						%button{:class => 'btn btn-inverse', :'data-dismiss' => 'modal', :'aria-hidden' => true} Close
						- if order.claimer && order.claimer == current_user
							=link_to 'Unclaim Order', unclaim_order_path(order.id), :class => "btn btn-danger"
						- elsif order.claimer
						- elsif order.user == current_user
							=link_to "Revise/Cancel Order", edit_order_path(order.id), :class => "btn btn-danger"
						- elsif user_signed_in? && order.available?
							=link_to 'Claim Order', claim_order_path(order.id), :class => "btn btn-success"

				%tr.btn.order-row.border-bottom{:id => "table_row_#{order.id}"}
					%td{:title => 'Claim Order'}=link_to "Details", "#order_#{order.id}_details", :role => 'button', :class => 'btn btn-block btn-success', :'data-toggle' => 'modal' 
					%td.tb-r{:title => 'Origin'}=order.restaurant.name
					%td
						%i.icon-arrow-right.icon-white
					%td.tb-l{:title => 'Destination'}=(order.house_dorm || order.address)
					%td.tb-r{:title => 'Order Cost'}='$' + order.cost.to_s
					%td=order.cost
					%td
						%i.icon-plus.icon-white
					%td.tb-l{:title => 'Offered Tip'}='$' + order.tip.to_s + 'tip'
					%td=order.tip
					%td{:title => "User's Rating"}= "#{order.user.rating.round(2)}/5" 
					%td{:title => "Order Expiration:"}= (order.updated_at + 1.hour).strftime("%l:%M %p")
					%td=order.updated_at
					%td
						= " #{'Current Orders'.hash.to_s}" if (order.updated_at + 1.hour) > Time.now
						= " #{'Unclaimed Orders'.hash.to_s}" if !order.claimer
						= " #{'My Orders'.hash.to_s}" if current_user == order.user
						= " #{'My Deliveries'.hash.to_s}" if order.claimer == current_user
-else 
	%h2 No orders to display... #{link_to('Order food', root_path + '#order-form')}
