
%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Snackage", root_path, id: "logo"
      %nav 
        %ul.nav.pull-right
          -if signed_in?
          = puts "clearance = #{current_user.clearance}"
            -if current_user.clearance.to_i > 0
              %li= link_to "Restaurant Portal", restaurants_path
          %li= link_to "Home", root_path
          %li= link_to "Orders", orders_path
          %li= link_to "Help", help_path
          -if signed_in? 
            %li=link_to 'Edit profile', edit_user_registration_path
            %li=link_to 'Sign out', destroy_user_session_path, method: :delete
          -else
            %li=link_to 'Sign up', new_user_registration_path
            %li=link_to 'Sign in', new_user_session_path


